.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--code-background-color);

  @media (min-width: 576px) {
    min-height: calc(100vh - var(--header-height));
  }
}

.hero-content {
  text-align: center;
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    width: 5rem;
    height: 5rem;
    margin-bottom: var(--spacing-xl);
    color: var(--primary);

    @media (min-width: 768px) {
      width: 6rem;
      height: 6rem;
    }
  }

  h1 {
    margin: 0;
  }
}

.hero-hr {
  border: 0;
  border-top: var(--border-primary-8);
  width: 8rem;
  margin: var(--spacing-xl) auto;
}

.hero-subtitle {
  color: var(--muted-color);
  font-size: var(--text-lg);
  max-width: 36rem;
  margin-bottom: var(--spacing-xl);
}

.hero-quote {
  position: relative;
  font-style: italic;
  margin-bottom: var(--spacing-2xl);
  font-size: var(--text-lg);

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2px;
    background: var(--primary);
    margin: 0 auto var(--spacing);
  }
}
